/*Cores de fundo para o dashboard*/

body {
    background-color: #e5e8eb;
}

.background-color {
    background-color: rgb(26, 72, 139);
    width: 100%;
    height: 30vh;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1), inset 0px 1px 22px 11px rgba(255, 255, 255, 0.05), inset 0px 2px 24px 13px rgba(35, 93, 231, 0.08);
}

/*Dashboard*/

/*Titulo*/
.dashboard-titulo h1 {
    display: flex;
    position: absolute;
    justify-content: center;
    color: white;
    margin-left: 37%;
    margin-top: 7vh;
    font-size: 2rem;
}


.container-setor-e-titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 5vh;
}

.setor-titulo {
    margin-left: 1vw;
}


/*KPIs*/
.dashboard-kpis {
    display: grid;
    position: absolute;
    height: 20vh;
    width: 79%;
    margin-left: 18%;
    margin-right: 3%;
    margin-top: 42vh;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/*Estilo dos cards das KPIs*/
.kpis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    margin-left: 2vh;
    margin-right: 2vh;
    box-shadow: 5px 6px 2px 1px rgba(0, 0, 0, 0.1);
}

.kpi-titulo {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    margin-top: 10%;
}

.kpi-dado-palavra-ajuste {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

.kpi-dado {
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}


/*Cor de efeito de cada KPI indicando o estado da situação (crítico, alerta, bom ou ótimo)*/
.verde{
    border: 3px solid #2cc921;
    box-shadow: 0px 0px 12px 0.6px rgba(12,192,0,0.22);
}

.verde-lima{
    border: 3px solid rgb(180, 226, 42);
    box-shadow: 0px 0px 12px 0.6px rgba(180, 226, 42,0.22);
}

.vermelho{
    border: 3px solid #c92121;
    box-shadow: 0px 0px 12px 0.6px rgba(201, 33, 33, 0.22);
}

.amarelo{
    border: 3px solid rgb(255, 224, 86);
    box-shadow: 0px 0px 12px 0.6px rgba(255, 255, 12,0.22);
}


/*KPI do gráfico polar*/
.grafico-kpi-container {
    display: flex;
    position: relative;
    width: 31vh;
    margin-bottom: -8vh;
}

.grafico-container-polar-setores {
    width: 18vw;
}

.kpi-grafico-polar {
    display: flex;
    flex-direction: column;
    height: 48vh;
    margin-top: -23vh;
}

.kpi-grafico-titulos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 4vh;
    width: 100%;
    font-size: 2.1vh;
    margin-top: 10vh;
    margin-bottom: 2vh;
}


/* Indicadores do status dos sensores - gráficos*/

.dashboard-graficos {
    display: grid;
    position: absolute;
    justify-content: center;
    width: 79%;
    margin-left: 18%;
    margin-right: 3%;
    margin-top: 74vh;
    grid-template-columns: 2fr 1fr;
}

.graficos-card-produtos {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    margin-left: 2vh;
    margin-right: 2vh;
    box-shadow: 5px 6px 2px 1px rgba(0, 0, 0, 0.1);
    height: 106vh;
}

.graficos-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    margin-left: 2vh;
    margin-right: 2vh;
    box-shadow: 5px 6px 2px 1px rgba(0, 0, 0, 0.1);
    height: 60vh;
}

.produtos-titulo-e-legenda {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 4vh;
}

.graficos-container {
    display: flex;
    position: relative;
    width: 31vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.estado-produto-legenda {
    margin-top: 9vh;
}

.titulo-produtos {
    display: flex;
    justify-content: flex-start;
    margin-left: 10%;
    font-size: 3.5vh;
    margin-top: 7.5vh;
}


/*Setores*/

.container-setor {
    display: flex;
    position: absolute;
    margin-left: 18.4vw;
    margin-top: 22vh;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 12px 0.6px rgba(69, 116, 186, 0.65), 5px 6px 2px 1px rgba(0, 0, 0, 0.1);
    padding: 2% 1%;
    width: 57%;
}

.titulo-fluxo-produtos {
    display: flex;
    position: relative;
    justify-content: center;
    height: 4vh;
    width: 100%;
    font-size: 2vh;
    margin-top: 2vh;
    margin-bottom: 2.5vh;
}


/*Sessões*/
.dashboard-sessoes {
    display: grid;
    position: absolute;
    justify-content: center;
    height: 60vh;
    width: 79%;
    margin-left: 18%;
    margin-right: 3%;
    margin-top: 140vh;
    grid-template-columns: 2fr 1fr;
}

.sessoes {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    margin-left: 2vh;
    margin-right: 2vh;
    margin-bottom: 6%;
    box-shadow: 5px 6px 2px 1px rgba(0, 0, 0, 0.1);
}

.sessao-espaco-para-categorias {
    display: flex;
    margin-left: 2vh;
    margin-right: 2vh;
    margin-bottom: 6%;
}

/*Setores*/
.sessao-setores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.sessao-setores h2 {
    color: #4e4e4e;
    border-bottom: 1px solid #656565;
    margin-top: 5vh;
}

.setores {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 70%;
    margin-top: 8%;
    width: 100%;
}

.container-setores {
    display: flex;
}

.titulos-setores {
    display: flex;
    align-items: center;
    justify-content: center;
}

.svg-seta {
    margin-left: 8vw;
    margin-right: 2vw;

}

.setores li {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}

.setores li a {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    list-style: none;
    color: #353535;
    transition: 0.4s;
    width: 100%;
    padding: 4%;
    border-radius: 2%;
}

.setores li a:hover {
    transform: translateY(-8px);
    background: rgba(0, 0, 0, 0.05);
    box-shadow: 0px 6px 2px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.12);
    transition: 0.4s;
}


/*Categorias - links para mudar os gráficos da página*/
.sessao-categorias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.sessao-categorias h2 {
    color: #4e4e4e;
    border-bottom: 1px solid #656565;
}


.categorias {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 45%;
    margin-top: 12%;
    width: 100%;
}

.container-categorias {
    display: flex;
}

.titulos-categorias {
    display: flex;
    align-items: center;
    justify-content: center;
}

.categorias svg {
    margin-left: 8vw;
    margin-right: 2vw;

}

.categorias li {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}

.categorias li a {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    list-style: none;
    color: #353535;
    transition: 0.4s;
    width: 100%;
    padding: 4%;
    border-radius: 2%;
}

.categorias li a:hover {
    transform: translateY(-8px);
    background: rgba(0, 0, 0, 0.05);
    box-shadow: 0px 6px 2px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.12);
    transition: 0.4s;
}

/*Lista de produtos*/

.lista-produtos-nome-ul { 
    list-style: none;
    margin-bottom: 6vh;
    width: 100%;
    margin-top: 14vh;
}

.lista-produtos-nome-ul li {
    margin-bottom: 3vh;
}

.lista-produtos-nome-li-elementos {
    display: flex;
    justify-content: center;
}

.lista-produtos-nome-li-titulo {
    display: flex;
    justify-content: flex-end;
    margin-right: 7%;
    width: 40%;
    margin-left: -4vw;
    font-size: 1.2rem;
    letter-spacing: 0.2px;
}

.lista-produtos-nome-li-binario ul {
    display: flex;
    list-style: none;
}

.lista-produtos-nome-li-binario ul li {
    display: flex;
    margin-right: 3vw;
}



/*Espaço vazio no fim da página*/
.footer-space {
    display: flex;
    padding: 1%;
    width: 100%;
    margin-top: 83%;
}

.red {
    background-color: #f34141;
    /* background-color: #f34141; */
}

.green {
    background-color: #45dc3a;
    /* background-color: #45dc3a; */
}

.bolinha {
    height: 20px;
    width: 20px;
    border-radius: 30px;
    margin-left: 1vw;
    margin-right: 1vw;
    /* background-color: blueviolet; */
}

.container-bolinhas {
    display: flex;
    width: 100%;
    height: 4vh;
}